<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Admin Panel</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="container">
  <a href="{{ url_for('index') }}" class="button" style="float:right; margin-bottom:10px;"> Home</a>
<h2>Admin Panel - Applications</h2>

<form method="post" style="margin-bottom:15px;">
    <input type="text" name="search" placeholder="Search by Name, Email, Course" value="{{ search_query }}">
    <button type="submit">Search</button>
</form>

<table>
<tr>
    <th>ID</th>
    <th>Full Name</th>
    <th>DOB</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Board</th>
    <th>Year</th>
    <th>Percentage</th>
    <th>Course</th>
    <th>Marksheet</th>
    <th>Submitted At</th>
    <th>Action</th>
</tr>
{% for app in applications %}
<tr>
    <td>{{ app[0] }}</td>
    <td>{{ app[1] }}</td>
    <td>{{ app[2] }}</td>
    <td>{{ app[3] }}</td>
    <td>{{ app[4] }}</td>
    <td>{{ app[5] }}</td>
    <td>{{ app[6] }}</td>
    <td>{{ app[7] }}</td>
    <td>{{ app[8] }}</td>
    <td>
        {% if app[9] %}
            <a href="/view/{{ app[9] }}" target="_blank" class="button">View</a>
        {% else %}
            <span class="na">N/A</span>
        {% endif %}
    </td>
    <td>{{ app[10] }}</td>
    <td><a href="/delete/{{ app[0] }}" class="button delete-btn">Delete</a></td>
</tr>
{% endfor %}
</table>
</div>
</body>
</html>