
<html>
    <head>
        <title>college website </title>
        <link rel="stylesheet" href="style.css">
    </head>
<body>



<section class="main-sections">

    <div class="box-section">

        <!-- Recent News -->
        <div class="news-box">
            <h2>Recent News</h2>
            <ul>
                <li>• Admission Open for 2025–26</li>
                <li>• Exam timetable released</li>
            </ul>
        </div>

        <!-- Quick Links -->
        <div class="quick-links-box">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Student Portal</a></li>
                <li><a href="#">Teacher Portal</a></li>
                <li><a href="#">Exam Schedule</a></li>
                <li><a href="#">Library</a></li>
            </ul>
        </div>

    </div>


    <!-- Contact Section -->
    <div class="contact-box">
        <h2>Contact</h2>

        <div class="contact-row">
            <div class="left-contact">
                <p><b>Principal:</b> ................</p>
                <p><b>Email:</b> ................</p>
                <p><b>Phone:</b> ................</p>
            </div>

            <div class="right-contact">
                <p><b>College Management:</b> ...............</p>
                <p><b>Email:</b> ................</p>
                <p><b>Phone:</b> ................</p>
            </div>
        </div>
    </div>


    <!-- Faculty Table -->
    <div class="faculty-box">
        <h2>Faculty</h2>
        
        <table>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>Example Sir</td>
                <td>Computer Science</td>
                <td>example@gmail.com</td>
            </tr>
            <tr>
                <td>XYZ Mam</td>
                <td>Mathematics</td>
                <td>xyz@gmail.com</td>
            </tr>
        </table>
    </div>

</section>
</body>
</html>